<section style="background-color: #495E57; padding: 1rem 0.5rem;">
  <div class="top">
    <div>
      <h2 style="color: #F4CE14;">Little Lemon</h2>
      <h2 style="color:white;">Cairo</h2>
    </div>
    <div style="display: flex; gap: 1rem;">
      <% if (locals.consestantDAta !='' ) { %>
        <div class="description">
          <p style="color: white;">
            <%= consestantDAta.response[1].description %>
          </p>


          <% } %><button class="reserve_table">
              <a style="text-decoration: none;" href="/reservation">
                Reserve a table</a>
            </button>
        </div>
        <% if (locals.consestantDAta !='' ) { %>
          <div class="header_img_div">
            <img src="<%= consestantDAta.response[1].URL %>" alt="<%= consestantDAta.response[1].description %>"
              style="max-width: 300px; height: auto;">
          </div>


          <% } %>
    </div>
  </div>
</section>

<section style="padding: 1rem 0;">
  <header>
    <div>
      <h6 style="text-align: center; padding: 1rem 0;">ORDER FOR DELIVERY!
      </h6>
    </div>
    <div class="mini_nav">
      <button><a href="">Lunch</a></button>
      <button><a href="">Mains</a></button>
      <button><a href=""> Desserts</a></button>
      <button><a href=""> A La Carte</a></button>
      <button><a href="">Specials</a></button>
    </div>
  </header>
  <div class="cards" style="padding: 2rem 0;">
    <% if (data !='' ) { %>
      <% data.cards.forEach(card=> { %>
        <div class="card">
          <p><strong>
              <%- card.name %>
            </strong></p>
          <img src="<%= card.URL %>" alt="">
          <p>
            <%= card.description %>
          </p>
          <div class="card_order_btn" style="display: flex; justify-content: space-around; align-items: center;">
            <strong style="color: red;">
              <%= card.price %>
            </strong>
            <button style="background-color: #F4CE14;">
              <a href="/">Order for delivery</a>
            </button>
          </div>
        </div>
        <% }) %>

          <% } %>
  </div>
</section>
<div style="padding: 1rem; justify-items: center;">
  <h5 style="color:#495E57;">Testimony And Feedback</h5>
</div>
<section style="background-color: #495E57;">
  <div class="Testimony">
    <% if (data !='' || data.length !=0) { %>
      <% data.TestimoniesData.forEach(item=> { %>
        <div class="Testimonies_cards" style="justify-content: center;">
          <div><strong style="color: white;"> ⭐⭐⭐
              <%= item.evaluationStars %>
            </strong></div>
          <div>
            <div> <img src="<%= item.URL %>" alt=""></div>
            <p style="color: white;"><strong>
                <%= item.name %>
              </strong></p>
          </div>
          <div>
            <p style="color: white;">
              <%= item.evaluationText %>
            </p>
          </div>
        </div>
        <% }) %>

          <% } %>
  </div>
</section>

<section style="padding: 2rem 0;">
  <div>
    <div style="text-align: center;">
      <h5 style="color: #F4CE14;">Little Lemon</h5>
      <h5>Cairo</h5>
    </div>
    <div>
      <% if (data !='' || data.length !=0) { %>
        <div style="max-width: 400px; text-align: left; justify-self: center; padding: 0 1rem;">
          <p>
            <%= data.LocationS[0].address %>
          </p>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center; gap: 1rem;">
          <div style="max-width: 400px; height: 300px; border: #495E57 1px solid; padding: 1rem;">
            <img style="width: 100%; justify-self: center;" src="<%= data.LocationS[0].URL1 %>" alt="">
          </div>
          <div
            style="max-width: 400px; height: 300px; border: #495E57 1px solid; padding: 1rem; display: flex; justify-content: center;">
            <img style="width: 100%;" src="<%= data.LocationS[0].URL2 %>" alt="">
          </div>
        </div>


        <% } %>
    </div>
  </div>
</section>